body {
    font-family: Arial;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    text-align: center;
    margin-top: 100px;
}

.container {
    background: rgba(0,0,0,0.5);
    padding: 30px;
    border-radius: 15px;
    display: inline-block;
}

a {
    color: yellow;
    text-decoration: none;
    font-size: 20px;
}
